<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h1 class="page-title">Species: <%= species.name %></h1>

<section class="detail-section full-width">
    <p><strong>Habitat Type:</strong> <%= species.habitatType %></p>
    <p><strong>Group Tolerance:</strong> <%= species.groupTolerance.minGroupSize %> - <%= species.groupTolerance.maxGroupSize %></p>
    <p><strong>Diet:</strong> Fruits, Leaves, Seeds, Small animals</p>
    <p><strong>EndangermentStatus: <div class="status status-<%= species.endangermentStatus %>"><%= species.endangermentStatus %></div></strong>
    
</section>

<h2 class="section-title">Monkeys of this Species</h2>
<table>
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Species</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Personality Trait</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Year</th>
            <th>Age</th>
            <th>Likes</th>
        </tr>
    </thead>
    <tbody>
        <% for(let monkey of monkeys) { %>
        <tr>
            <td><img src="<%= monkey.image %>" width="100"></td>
            <td><%= monkey.id %></td>
            <td><%= monkey.name %></td>
            <td><%= monkey.description %></td>
            <td><a href="/species/<monkey.species.id"><%= monkey.species.name %></a></td>
            <td><%= monkey.country %></td>
            <td><%= monkey.gender %></td>
            <td><%= monkey.personality_trait %></td>
            <td><%= monkey.weight %>kgs</td>
            <td><%= monkey.height %>cm</td>
            <td><%= monkey.year %></td>
            <td><%= calculateMonkeyAge(monkey.year)%>y</td>
            <td>
            <form method="post" action="/monkeys/<%= monkey.id %>/like" class="like-form">
            <button type="submit">Like (<%= monkey.likes %>)</button>
            </form>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include("partials/footer") %>
